<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Personaje</title>
</head>
<nav aria-label="breadcrumb">
    <div class="conteiner">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio'%}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'seasons_bb'%}">Breaking Bad</a></li>
            <li class="breadcrumb-item"><a href="{% url 'seasons_bcs'%}">Better Call Saul</a></li>
        
             
        </ol>
    </div>
</nav>
<form method=POST action="{% url 'search' %}" class="justify-content-md-end">
    {% csrf_token %}
    <input type="search"  placeholder="Buscada de Personajes" name='searched' >
    <button   type="submit" class="justify-content-md-end" >
        Buscar    
    </button>
</form> 
<body>
    <h2>Detalle Personaje</h2>
    <br>
    {%for i in detalle_char%}
    <div class="conteiner">
        <div class="row-header">
            <div class="col-8 col-sm-5">
                <div class="col 12 col-sm-8">             
                    <td><img src="{{i.img}}" class="rounded mx-auto d-block"  width="300" height="400"></td><br><br>
                </div>
                <table class="table width=50% table-condensed table-gray table-striped table-bordered"> 
                    <thead>
                            <th>{{i.name}}</th>
                    </thead>
                    <tbody>
                        
                        <tr><td>Id Personaje: {{i.char_id}}</td></tr>
                        <tr><td>roles: {% for occupation in i.occupation %} {{occupation}}, {% endfor %}</td></tr>
                        <tr><td>Status:  {{i.status}}</td></tr>
                        <tr><td>Temporadas Breaking Bad: {% for a in i.appearance %}
                        <a href="{% url 'episodes_breaking_bad' a.id_season %}">{{a.season}}</a>
                        {% endfor %}</td></tr>
                        <tr><td>Temporadas Better Call Saul: {% for a in i.better_call_saul_appearance %}
                        <a href="{% url 'episodes_better_call_saul' a.id_season %}">{{a.season_bcs}}</a>
                        {% endfor %}</td></tr>
                        <tr><td>Nickname: {{i.nickname}}</td></tr>
                        <tr><td>Actor o Actriz: {{i.portrayed}}</td></tr>
                        <tr><th>Citas:</th></tr>
                        <tr>{%for quote in i.quotes %}</tr>
                        <tr><td>{{quote.quote}}</td></tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>